$primary-color: #0D0628 !default;
$secandory-color:#6457b6 !default;
$dark-color: #1C110A !default;
$light-color: #f4f4f4 !default;
$danger-color: #b71c1c !default;
$success-color: #4bc0d9 !default;
$grey-color: #8a8a8a !default;
