.home {
    display: flex;
    flex-direction: column;
    .wellcome {
        text-align: center;
        p {
            font-size: 2.5rem;
        }
        h2 {
            text-align: center;
            font-weight: 400;
            color: lightgrey;
        }
    }
}